@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer components {
  .nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      color: #e1a313;
    }
  }
  .btn {
    padding: 12px 24px;
    background-color: #047857;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 9px;
    outline: none;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: #06b482;
    }
  }
  .heading-primary{
    /* font-size: 64px; */
    /* text-transform: uppercase; */
    background: linear-gradient(0deg, #f6fff2, #c3ffa9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #06b482;
    letter-spacing: 1px;
  }
  .container-div {
    @apply max-w-md md:max-w-2xl lg:max-w-7xl mx-auto;
  }
}
