@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer components {
  .nav-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      color: #e1a313;
    }
  }
  .btn {
    padding: 12px 24px;
    background-color: #047857;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 9px;
    outline: none;
    border: none;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      background-color: #06b482;
    }
  }
  .heading-primary {
    /* font-size: 64px; */
    /* text-transform: uppercase; */
    background: linear-gradient(0deg, #f6fff2, #c3ffa9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #06b482;
    letter-spacing: 1px;
  }
  .gradient-text-h1 {
    background: linear-gradient(
      90deg,
      #eedf42,
      #1cdf6b
    ); /* Define your gradient here */
    -webkit-background-clip: text; /* Clips the background to the text */
    -webkit-text-fill-color: transparent; /* Makes the text itself transparent */
  }

  .img-box {
    --s: 24px; /* control the size */
    padding: var(--s);
    border: var(--s) solid #1cdf6b;
    background: conic-gradient(from 90deg at 1px 1px, #e1a313 25%, #fff 0);
    clip-path: polygon(
      0 0,
      33% 0,
      50% calc(2 * var(--s)),
      66% 0,
      100% 0,
      100% 33%,
      calc(100% - 2 * var(--s)) 50%,
      100% 66%,
      100% 100%,
      66% 100%,
      50% calc(100% - 2 * var(--s)),
      33% 100%,
      0 100%,
      0 66%,
      calc(2 * var(--s)) 50%,
      0 33%
    );
    transform: rotate(357deg);
  }

  .container-div {
    @apply max-w-md md:max-w-2xl lg:max-w-7xl mx-auto;
  }
}
